@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-color: green;
}

.App .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: archivo;
  src: url('.././public/Archivo-VariableFont_wdth\,wght.ttf');
}

.archivo {
  font-family: archivo;
}

@font-face {
  font-family: codepro;
  src: url('.././public/SourceCodePro-VariableFont_wght.ttf');
}

.codepro {
  font-family: codepro;
}
