*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    color: black;
    font-weight: inherit;
}
html{
    min-height: 100%;
    background-color: #ededed;
}
*, button, input{
    border: 0;
    background-color: none;
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
